body {
  background-color: #2f3136; /* fondo gris oscuro */
  color: #dcddde; /* texto gris claro */
}

.card {
  background-color: #36393f; /* fondo de panel */
  border-radius: 8px;
  padding: 1rem;
}

.chat {
  width: 40rem;
  height: 25rem;
  background-color: #2f3136;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Mensajes */
.message-box {
  background-color: #40444b; /* gris intermedio */
  color: #dcddde;
  align-self: flex-start;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  min-width: 40%;
  max-width: 60%;
}

.message-my {
  background-color: #5865f2; /* azul Discord */
  color: #fff;
  align-self: flex-end;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
    min-width: 40%;
  max-width: 60%;
}

.Chat-username {
  font-size: 0.7rem;
  color: #b9bbbe;
  margin-top: 0.2rem;
}

/* Input */
form input[type="text"] {
  flex: 1;
  border: none;
  border-radius: 4px;
  background-color: #40444b;
  color: #fff;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

form button {
  background-color: #5865f2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #4752c4;
}

.message-system {
    text-align: center;
  color: #9ca3af; /* gris clarito */
  font-style: italic;
  margin: 0.5rem 0;
}

.message-firstbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileicon {
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.profileicon:hover {
  border: 2px solid gray;
}

.profileicon-active {
  border: 2px solid blue;
  border-radius: 50%;
}

.no-messages {
align-self: center;
color: #dcddde;
}
